@model BookCave.Models.InputModels.BillingAndShippingInputModel

@{
    var addresses = @ViewBag.SavedAddresses;
    var addressCount = @ViewBag.AddressCount;
}

<div id="all-addresses">
    @for(var i = 0; i < addressCount; i++)
    {
        <span id="Street-@i">@addresses[i].Street</span>
        <span id="HouseNum-@i">@addresses[i].HouseNum</span>
        <span id="City-@i">@addresses[i].City</span>
        <span id="ZipCode-@i">@addresses[i].ZipCode</span>
        <span id="Country-@i">@addresses[i].Country</span>
        <br>
    }
</div>


<form action="" method="POST" name="address">
    <fieldset>
        <legend>Billing Address</legend>

        <label for="SavedBillingAddresses">Saved Addresses</label><br>
        <select id="SavedBillingAddresses">
            <option value="" disabled selected>Select an address</option>
            @for(var i = 0; i < addressCount; i++)
            {
                <option value="@i">@addresses[i].Street, @addresses[i].HouseNum</option>
            }
        </select>

        <br>
        <button type="button" id="savedBillingGet" class="btn btn-danger">Use address</button>
        <br><br>

        <label asp-for="BillingStreet">Street</label><br>
        <input type="text" asp-for="BillingStreet" id="billStreet" value="">
        <span asp-validation-for="BillingStreet"></span>
        <br/>

        <label asp-for="BillingHouseNum">House number</label><br>
        <input type="text" asp-for="BillingHouseNum" id="billHouseNum" value="">
        <span asp-validation-for="BillingHouseNum"></span>
        <br/>

        <label asp-for="BillingCity">City</label><br>
        <input type="text" asp-for="BillingCity" id="billCity" value="">
        <span asp-validation-for="BillingCity"></span>
        <br/>

        <label asp-for="BillingZipCode">Zip code</label><br>
        <input type="text" asp-for="BillingZipCode" id="billZipCode" value="">
        <span asp-validation-for="BillingZipCode"></span>
        <br/>

        <label asp-for="BillingCountry">Country</label><br>
        <select asp-for="BillingCountry" id="billCountrySelect">
            <option value="" disabled selected>Select a country</option>
            <option value="Iceland">Iceland</option>
            <option value="United-Kingdom">United Kingdom</option>
            <option value="United-States">United states</option>
            <option value="Wakanda">Wakanda</option>
        </select>
        <span asp-validation-for="BillingCountry"></span>
        
        <br/><br>
    </fieldset>

    <fieldset>
        <legend>Shipping Address</legend>

        <label for="SavedShippingAddresses">Saved Addresses</label><br>
        <select id="SavedShippingAddresses">
            <option value="" disabled selected>Select an address</option>
            @for(var k = 0; k < addressCount; k++)
            {
                <option value="@k">@addresses[k].Street</option>
            }
        </select>

        <br>
        <button type="button" id="savedShippingGet" class="btn btn-danger">Use address</button>
        <br><br>

        <label asp-for="ShippingStreet">Street</label><br>
        <input type="text" asp-for="ShippingStreet" id="shippStreet" value="">
        <span asp-validation-for="ShippingStreet"></span>
        
        <br/>

        <label asp-for="ShippingHouseNum">House number</label><br>
        <input type="text" asp-for="ShippingHouseNum" id="shippHouseNum" value="">
        <span asp-validation-for="ShippingHouseNum"></span>
        <br/>

        <label asp-for="ShippingCity">City</label><br>
        <input type="text" asp-for="ShippingCity" id="shippCity" value="">
        <span asp-validation-for="ShippingCity"></span>
        <br/>

        <label asp-for="ShippingZipCode">Zip code</label><br>
        <input type="text" asp-for="ShippingZipCode" id="shippZipCode" value="">
        <span asp-validation-for="ShippingZipCode"></span>
        <br/>

        <label asp-for="ShippingCountry">Country</label><br>
        <select asp-for="ShippingCountry" id="shippCountrySelect">
            <option value="" disabled selected>Select a country</option>
            <option value="Iceland">Iceland</option>
            <option value="United-Kingdom">United Kingdom</option>
            <option value="United-States">United states</option>
            <option value="Wakanda">Wakanda</option>
        </select>
        <span asp-validation-for="ShippingCountry"></span>
        <br/><br>
    </fieldset>
    <a asp-controller="Cart" asp-action="CartView" class="btn btn-primary">Prev</a>

    <input type="submit" class="btn btn-primary" value="Next">

</form>








