@model BookCave.Models.InputModels.BillingAndShippingInputModel

@{
    var addresses = @ViewBag.SavedAddresses;
    var addressCount = @ViewBag.AddressCount;
}

<div id="all-addresses">
    @for(var i = 0; i < addressCount; i++)
    {
        <span id="Street-@i">@addresses[i].Street</span>
        <span id="HouseNum-@i">@addresses[i].HouseNum</span>
        <span id="City-@i">@addresses[i].City</span>
        <span id="ZipCode-@i">@addresses[i].ZipCode</span>
        <span id="Country-@i">@addresses[i].Country</span>
        <br>
    }
</div>


<form action="" method="POST" name="address">
    <fieldset>
        <legend>Billing Address</legend>

        <label for="SavedBillingAddresses">Saved Addresses</label><br>
        <select id="SavedBillingAddresses">
            <option value="" disabled selected>Select an address</option>
            @for(var i = 0; i < addressCount; i++)
            {
                <option value="@i">@addresses[i].Street</option>
            }
        </select>

        <br>
        <button type="button" id="savedBillingGet" class="btn btn-danger">Use address</button>
        <br><br>

        <label asp-for="BillingAddress.Street">Street</label><br>
        <input type="text" asp-for="BillingAddress.Street" id="billStreet" value="">
        <br/>

        <label asp-for="BillingAddress.HouseNum">House number</label><br>
        <input type="text" asp-for="BillingAddress.HouseNum" id="billHouseNum" value="">
        <br/>

        <label asp-for="BillingAddress.City">City</label><br>
        <input type="text" asp-for="BillingAddress.City" id="billCity" value="">
        <br/>

        <label asp-for="BillingAddress.ZipCode">Zip code</label><br>
        <input type="text" asp-for="BillingAddress.ZipCode" id="billZipCode" value="">
        <br/>

        <label asp-for="BillingAddress.Country">Country</label><br>
        <select asp-for="BillingAddress.Country" id="billCountrySelect">
            <option value="" disabled selected>Select a country</option>
            <option value="Iceland">Iceland</option>
            <option value="United-Kingdom">United Kingdom</option>
            <option value="United-States">United states</option>
            <option value="Wakanda">Wakanda</option>
        </select>
        <br/><br>
    </fieldset>

    <fieldset>
        <legend>Shipping Address</legend>

        <label for="SavedShippingAddresses">Saved Addresses</label><br>
        <select id="SavedShippingAddresses">
            <option value="" disabled selected>Select an address</option>
            @for(var k = 0; k < addressCount; k++)
            {
                <option value="@k">@addresses[k].Street</option>
            }
        </select>

        <br>
        <button type="button" id="savedShippingGet" class="btn btn-danger">Use address</button>
        <br><br>

        <label asp-for="ShippingAddress.Street">Street</label><br>
        <input type="text" asp-for="ShippingAddress.Street" id="shippStreet" value="">
        <br/>

        <label asp-for="ShippingAddress.HouseNum">House number</label><br>
        <input type="text" asp-for="ShippingAddress.HouseNum" id="shippHouseNum" value="">
        <br/>

        <label asp-for="ShippingAddress.City">City</label><br>
        <input type="text" asp-for="ShippingAddress.City" id="shippCity" value="">
        <br/>

        <label asp-for="ShippingAddress.ZipCode">Zip code</label><br>
        <input type="text" asp-for="ShippingAddress.ZipCode" id="shippZipCode" value="">
        <br/>

        <label asp-for="ShippingAddress.Country">Country</label><br>
        <select asp-for="ShippingAddress.Country" id="shippCountrySelect">
            <option value="" disabled selected>Select a country</option>
            <option value="Iceland">Iceland</option>
            <option value="United-Kingdom">United Kingdom</option>
            <option value="United-States">United states</option>
            <option value="Wakanda">Wakanda</option>
        </select>
        <br/><br>
    </fieldset>
    <a asp-controller="Cart" asp-action="CartView" class="btn btn-primary">Prev</a>

    <input type="submit" class="btn btn-primary" value="Next">

</form>








