@model BookCave.Models.ViewModels.AccountEditViewModel

@{
    ViewData["Title"] = "Account Information";
}

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject UserManager<ApplicationUser> UserManager

@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}
<div class="container" id="account-info-size">
    <h3 class="account-info-btext">Account Information</h3>
    <div class="row">
        <div class="col-sm-5 col-md-4 col-lg-3" id="account-info1">
            <a class="btn btn-default" asp-controller="Account" asp-action="History">Order History</a>
            <br><br>
            <form asp-controller="Account" asp-action="Information" method="POST">
                <label>Edit name</label> <br>
                <input type="text" asp-for="Name" value="@Model.Name" class="form-control"/>
                <br>
                <h5 class="account-info-btext">Your Address/es</h5>
            @if(@Model.UserAddresses.Count() != 0)
            {
                @foreach(var a in @Model.UserAddresses)
                {
                    <span>@a.Street, @a.HouseNum, @a.City, @a.ZipCode, @a.Country</span>
                    <a class="btn btn-danger" asp-controller="Account" asp-action="RemoveAddress" asp-route-addressId="@a.Id">X</a>
                    <br>
                }
            }
            else
            {
                <span>No addresses on record.</span>
            }
            <br>
            <a class="btn btn-default" asp-controller="Account" asp-action="Address">Add an address</a>
        </div>
        <div class="col-sm-5 col-md-4 col-lg-3" id="account-info2">
            @if(@Model.FavBook != null)
            {
                <h5 class="account-info-btext">Your Favorite book</h5>
                <div>
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.FavBook.Id">
                        <div class="container">
                            <img id="acc-info-img2" src="@Model.FavBook.ImageLink" alt="book-thumbnail">
                            <p>Title: @Model.FavBook.Title</p>
                            <p>Author: @Model.FavBook.Author</p>
                        </div>
                    </a>
                </div>

                <input type="checkbox" value="true" name="removeBook" />
                <label>Remove this book as your favorite book&#63;</label>
            }
            else
            {
                <h5 class="account-info-btext">You have no book chosen as favorite</h5>
            }
        </div>
        <div class="col-sm-5 col-md-4 col-lg-3" id="account-info3">
            <h5 class="account-info-btext">Your Profile Picture</h5>
                @if(@Model.ProfilePicLink == null)
                {
                    <img src="~/images/noprofile.png" alt="Profile Picture" width="150" height="150">
                }
                else
                {
                    <img src="@Model.ProfilePicLink" alt="Profile Picture" width="150" height="150">
                }
                <br><br>
                <label>Link to a picture to set it as your profile picture</label>
                <input type="text" asp-for="ProfilePicLink" value="@Model.ProfilePicLink" class="form-control" />
                <br><br>
            <button type="submit" class="btn btn-danger">Accept Changes</button>
        </form>
        </div>
    </div>
</div>
