@model List<BookCave.Models.ViewModels.BookDetailsViewModel>
<div id="staff-book-remove">
@if(Model != null)
{
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th> 
            <th>Author</th>
            <th>Price</th>
            <th></th>
        </tr>
        @foreach(var book in @Model)
        {
            
            <tr>
            
                <td>@book.Id</td>
                <td><a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">@book.Title</a></td> 
                <td>@book.Author</td>
                <td>@book.Price</td>
                <td><a class="btn btn-default" asp-controller="Account" asp-action="RemoveFromDB" asp-route-id="@book.Id">Remove Book</a></td>
            </tr>
        }
    </table>
}
</div>