@model BookCave.Models.ViewModels.FrontPageViewModel

<div class="btn-group-vertical">
  
    <a asp-controller="Book" asp-action="AllBooks">
    <button type="button" class="btn btn-primary">All books</button></a>

     <a asp-controller="Book" asp-action="TopRated">
     <button type="button" class="btn btn-primary">Highest rated books</button></a>

     <a asp-controller="Book" asp-action="AffordableBooks">
     <button type="button" class="btn btn-primary">Affordable books</button></a>

     <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Genre<span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Dark Fantasy">Dark Fantasy</a></li>
            <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Epic Fantasy">Epic Fantasy</a></li>
            <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Heroic Fantasy">Heroic Fantasy</a></li>
            <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="High Fantasy">High Fantasy</a></li>
            <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Urban Fantasy">Urban Fantasy</a></li>
        </ul>
</div>

    <div>
    @foreach(var book in @Model.NewestBooks)
    {
        <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
            <div class="container">
                <img src="@book.ImageLink" class="img-thumbnail" alt="book-thumbnail">
                <p>@book.Title </p>
                <p>@book.Author</p>
                <p>@book.Price</p>
                <p>@book.UserRatingAvg</p>
            </div>
        </a>
    }
</div>
  <div>
    @foreach(var book in @Model.TopTen)
    {
        <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
            <div class="container">
                <img src="@book.ImageLink" class="img-thumbnail" alt="book-thumbnail">
                <p>@book.Title </p>
                <p>@book.Author</p>
                <p>@book.Price</p>
                <p>@book.UserRatingAvg</p>
            </div>
        </a>
    }
</div>

