@model BookCave.Models.ViewModels.FrontPageViewModel

@{
    ViewData["Title"] = "Home Page";
}

 <div class="container">
     <div class="row">
         <div class="col-md-10">
            <div id="myCarousel" class="carousel slide multi-item-carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
        
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                <!--Slide One-->
                <div class="item active">
                    <div class="col-xs-4">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.TopTwelve[0].Id">
                            <img src="@Model.TopTwelve[0].ImageLink" class="img-thumbnail" alt="book-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.TopTwelve[1].Id">
                            <img src="@Model.TopTwelve[1].ImageLink" class="img-thumbnail" alt="book-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.TopTwelve[2].Id">
                            <img src="@Model.TopTwelve[2].ImageLink" class="img-thumbnail" alt="book-thumbnail">
                        </a>
                    </div>
                </div>
                <!--Slide Two-->
                <div class="item">
                    <div class="col-xs-4">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.TopTwelve[3].Id">
                            <img src="@Model.TopTwelve[3].ImageLink" class="img-thumbnail" alt="book-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.TopTwelve[4].Id">
                            <img src="@Model.TopTwelve[4].ImageLink" class="img-thumbnail" alt="book-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.TopTwelve[5].Id">
                            <img src="@Model.TopTwelve[5].ImageLink" class="img-thumbnail" alt="book-thumbnail">
                        </a>
                    </div>
                </div>
                <!--Slide Three-->
                <div class="item">
                    <div class="col-xs-4">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.TopTwelve[6].Id">
                            <img src="@Model.TopTwelve[6].ImageLink" class="img-thumbnail" alt="book-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.TopTwelve[7].Id">
                            <img src="@Model.TopTwelve[7].ImageLink" class="img-thumbnail" alt="book-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.TopTwelve[8].Id">
                            <img src="@Model.TopTwelve[8].ImageLink" class="img-thumbnail" alt="book-thumbnail">
                        </a>
                    </div>
                </div>
                <!--Slide Four-->
                <div class="item">
                    <div class="col-xs-4">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.TopTwelve[9].Id">
                            <img src="@Model.TopTwelve[9].ImageLink" class="img-thumbnail" alt="book-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.TopTwelve[10].Id">
                            <img src="@Model.TopTwelve[10].ImageLink" class="img-thumbnail" alt="book-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.TopTwelve[11].Id">
                            <img src="@Model.TopTwelve[11].ImageLink" class="img-thumbnail" alt="book-thumbnail">
                        </a>
                    </div>
                </div>
                <!--Left and right control-->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
            </div>
        </div>
    </div>      
</div>
</div>


<div class="BookList">
    <h2 id="OurBooks">Our books</h2>
        <div class="FrontPageBookList">
            <a asp-controller="Book" asp-action="AllBooks">All books</a>
        </div><br>
        <div class="FrontPageBookList">
            <a asp-controller="Book" asp-action="AffordableBooks">Affordable books</a>
        </div><br>
        <p id="Genre">Genre</p>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="Dark Fantasy">Dark Fantasy</a>
        </div>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="Epic Fantasy">Epic Fantasy</a>
        </div>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="Heroic Fantasy">Heroic Fantasy</a>
        </div>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="High Fantasy">High Fantasy</a>
        </div>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="Urban Fantasy">Urban Fantasy</a>
        </div><br>
        
        <div class="FrontPageBookList">
            <a asp-controller="Book" asp-action="TopRated">Highest rated books</a>
        </div><br>
</div>

<div class="row">
    @foreach(var book in @Model.NewestBooks)
    {
            <div class="col-sm-5 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                            <img src="@book.ImageLink" class="img-thumbnail" alt="book-thumbnail">
                            <p>Title: @book.Title </p>
                            <p>Author: @book.Author</p>
                            <p>Price: @book.Price</p>
                            <p>User Rating: @book.UserRatingAvg</p>
                    </a>
                </div>
            </div>
    }
</div>



