@model List<BookCave.Models.ViewModels.BookThumbnailViewModel>

<div class="BookList">
    <h2 id="OurBooks">Our books</h2>
        <div class="FrontPageBookList">
            <a asp-controller="Book" asp-action="AllBooks">All books</a>
        </div><br>
        <div class="FrontPageBookList">
            <a asp-controller="Book" asp-action="AffordableBooks">Affordable books</a>
        </div><br>
        <p id="Genre">Genre</p>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="Dark Fantasy">Dark Fantasy</a>
        </div>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="Epic Fantasy">Epic Fantasy</a>
        </div>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="Heroic Fantasy">Heroic Fantasy</a>
        </div>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="High Fantasy">High Fantasy</a>
        </div>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="Urban Fantasy">Urban Fantasy</a>
        </div><br>
        
        <div class="FrontPageBookList">
            <a asp-controller="Book" asp-action="TopRated">Highest rated books</a>
        </div><br>
</div>

<h1>Affordable books</h1>
<p>Buy books on a really good price!!</p>
     @foreach(var affordableBooks in @Model)
    {
        <a asp-controller="Book" asp-action="Details" asp-route-id="@affordableBooks.Id">
            <div class="container">
                <img src="@affordableBooks.ImageLink" class="img-thumbnail" alt="book-thumbnail">
                <p>@affordableBooks.Title </p>
                <p>@affordableBooks.Author</p>
                <p>@affordableBooks.Price</p>
                <p>@affordableBooks.UserRatingAvg</p>
            </div>
        </a>
    }