@model List<BookCave.Models.ViewModels.BookThumbnailViewModel>

<div class="BookList">
    <h2 id="OurBooks">Our books</h2>
        <div class="FrontPageBookList">
            <a asp-controller="Book" asp-action="AllBooks">All books</a>
        </div><br>
        <div class="FrontPageBookList">
            <a asp-controller="Book" asp-action="AffordableBooks">Affordable books</a>
        </div><br>
        <p id="Genre">Genre</p>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="Dark Fantasy">Dark Fantasy</a>
        </div>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="Epic Fantasy">Epic Fantasy</a>
        </div>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="Heroic Fantasy">Heroic Fantasy</a>
        </div>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="High Fantasy">High Fantasy</a>
        </div>
        <div class="FrontPageBookListGenre">
            <a asp-controller="Book" asp-action="Genre" asp-route-genre="Urban Fantasy">Urban Fantasy</a>
        </div><br>
        
        <div class="FrontPageBookList">
            <a asp-controller="Book" asp-action="TopRated">Highest rated books</a>
        </div><br>
</div>

<h1>All of our books for A-Z!</h1>
<p>Don't know what book you are looking for? just look at them all!</p>
@foreach(var book in @Model)
    {
        <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
            <div class="container">
                <img src="@book.ImageLink" class="img-thumbnail" alt="book-thumbnail">
                <p>@book.Title </p>
                <p>@book.Author</p>
                <p>@book.Price</p>
                <p>@book.UserRatingAvg</p>
            </div>
        </a>
    }