@model List<BookCave.Models.ViewModels.BookThumbnailViewModel>
<h1>All of our books for A-Z!</h1>
<p>Don't know what book you are looking for? just look at them all!</p>
@foreach(var book in @Model)
    {
        <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
            <div class="container">
                <img src="@book.ImageLink" class="img-thumbnail" alt="book-thumbnail">
                <p>@book.Title </p>
                <p>@book.Author</p>
                <p>@book.Price</p>
                <p>@book.UserRatingAvg</p>
            </div>
        </a>
    }