@model BookCave.Models.ViewModels.BookDetailsViewModel

<div class="container">
    <img src="@Model.ImageLink" class="img-thumbnail" alt="book-thumbnail">
    <h1>@Model.Title</h1> 
    <h2>Author: @Model.Author</h2>
    <p>Price: @Model.Price $</br>
    Genre: @Model.Genre</p>

    <h2>Description:</h2>
    <p>@Model.Description</p>

    <h3>@Model.Id</h3>

    <a class="btn btn-default" asp-controller="Cart" asp-action="AddToCart" asp-route-bookId="@Model.Id">Add to Cart</a>
</div>


