@model List<BookCave.Models.ViewModels.BookThumbnailViewModel>

<div class="wrapper container">
    <div class="first">
        <div class="book-list">
            <h2 id="our-books">Our books</h2><br>
                <div class="front-page-book-lists">
                    <a asp-controller="Book" asp-action="AllBooks">All books</a>
                </div><br>
                <div class="front-page-book-lists">
                    <a asp-controller="Book" asp-action="AffordableBooks">Affordable books</a>
                </div><br>
                <p id="genre">Genre</p>
                    <div class="front-page-book-lists-genre">
                        <a asp-controller="Book" asp-action="Genre" asp-route-genre="Dark Fantasy">Dark Fantasy</a>
                    </div><br>
                    <div class="front-page-book-lists-genre">
                        <a asp-controller="Book" asp-action="Genre" asp-route-genre="Epic Fantasy">Epic Fantasy</a>
                    </div><br>
                    <div class="front-page-book-lists-genre">
                        <a asp-controller="Book" asp-action="Genre" asp-route-genre="Heroic Fantasy">Heroic Fantasy</a>
                    </div><br>
                    <div class="front-page-book-lists-genre">
                        <a asp-controller="Book" asp-action="Genre" asp-route-genre="High Fantasy">High Fantasy</a>
                    </div><br>
                    <div class="front-page-book-lists-genre">
                        <a asp-controller="Book" asp-action="Genre" asp-route-genre="Urban Fantasy">Urban Fantasy</a>
                    </div><br>
                <div class="front-page-book-lists">
                    <a asp-controller="Book" asp-action="TopRated">All top rated books</a>
                </div><br>
        </div>
    </div>
    <div class="second">
        <h1>Search results..</h1>
        <div class="book-list-two">
            <div class="row">
                @foreach(var searchBook in @Model)
                {
                    <div class="col-sm-5 col-md-4 col-lg-3">
                        <div class="thumbnail">
                            <a asp-controller="Book" asp-action="Details" asp-route-id="@searchBook.Id">
                                <p class="thumb-title">@searchBook.Title</p>
                                <img src="@searchBook.ImageLink" class="img-thumbnail" alt="book-thumbnail">
                                <p>Author: @searchBook.Author</p>
                                <p>$: @searchBook.Price</p>
                                <p>Rating: @searchBook.UserRatingAvg</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>